{% extends 'base.html' %}
{% load static %}
    {% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <h2>Informe seus dados de cadastro</h2>
            <form class="pure-form pure-form-stacked" method="POST">
                {% csrf_token %}
                <fieldset>
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    <div class="pure-control-group">
                        <label for="name">
                            {{ field.label_tag }}
                        </label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Entrar</button>
                    </div>
                </fieldset>
                <p>
                    Não é cadastrado? <a href="{% url 'accounts:register' %}" title="">Cadastre-se</a> <br />
                    Esqueceu a senha? <a href="" title="">Nova senha</a> <br />
                </p>
            </form>
        </div>
    </div>
    {% endblock %}